<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
  </head>
  <body>
    <div class="pill-nav">
        <a class = "active" href="/">Home</a>
        <a href="patient">Patient</a>
        <a href="visit">Visit</a>
        <a href="nurse_visit">NurseVisit</a>
        <a href="nurse">Nurse</a>
        <a href="doctor">Doctor</a>
        <a href="room">Room</a>
        <a href="department">Department</a>
        <a href="requisition">Requisition</a>
    </div >
    <div>
      <h1 class = "banner">East Coast General Hospital EMR</h1>
      <p class = "description"> A database-backed electronic medical record management system</p>
    </div>
    <div >
      <img src="hospital.png" class = "image">
    </div>
  </body>
</html>